apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: api-canary-hpa
  namespace: lab-devops
spec:
  scaleTargetRef:
    apiVersion: argoproj.io/v1alpha1
    kind: Rollout
    name: api-canary
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
